.main-head{
  position: relative;

}
.top-menu{
  padding: 0 10px;
  background-color: #fafafa;
  border-top: 1px solid $grey-color;
  border-bottom: 1px solid $grey-color;
}
.main-menu{
  display: flex;
  &__link{
    position: relative;
  }
  &__search{
    margin: 10px 0;
    padding: 5px 0 ;
    & input {
      border: 1px solid $black;
      height: 26px;
      width: 260px;
      box-sizing: border-box;
      background-image: url(../img/search.svg);
      background-repeat: no-repeat;
      background-position: 5px 4px;
      background-size: 6%;
      padding-left: 30px;
    }
  }
}
.menu-dropdown{
   display: none;
  position: absolute;
  background-color: #fafafa;
  width: 100%;
  left: 0;
top: 110px;
box-shadow: 0 2px 3px 1px #232323;
}

.dropdown-list{
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 20px 30px;
  &__item{
    margin: 10px 15px;
  }
}
.main-menu-items{
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 10px 0;
  &__item{
    padding: 5px 20px;
    height: 100%
  }
}
.top-row{
  display: flex;
  padding: 20px 15px 10px;
  justify-content: space-between;
  &__filter{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    & a{
      margin-right: 10px;
      text-transform: capitalize;
      font-size: 120%;
    }
  }
}
.filter__girl{
  color: $girl-color;
  &:hover{
    color: darken($girl-color, 10%)
  }
}
.filter__boy{
  color: $boy-color;
  &:hover{
    color: darken($boy-color, 10%)
  }
}
.top-contact{
  position: relative;
  &__phone {
    position: relative;
    margin-right: 20px;
    padding-left: 30px;
    &::before {
      content:"";
      display: block;
      width: 20px;
      position: absolute;
      top:0;
      left:0;
      height: 20px;
      background-image: url(../img/phone.svg);
    }
  }
  &__mail{
    margin-right: 20px;
    padding-left: 30px;
    position: relative;
    &::before{
      content:"";
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top:0;
      left:0;
      background-image: url(../img/envelope.svg);
    }
  }
}
.top-zakaz__user{
  margin-right: 20px;
  padding-left: 30px;
  position: relative;
  &::before{
    content:"";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-image: url(../img/user.svg);
  }

}
.top-zakaz__cart{
  padding-left: 30px;
  & img {
    vertical-align: bottom;
    margin-right: 10px;
  }
}
