.container--footer{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.main-footer{
  padding: 15px 0 20px;
  color: #fafafa;
}
.footer-menu{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  padding: 0 60px 0 20px;
  &__link{
    padding: 10px;
  }
}
.payment-method{
  flex-basis: 50%;
  &__link{
    width: 50px;
    display: inline-block;
  }
}
