.our-advantage{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  justify-content: space-between;
  padding: 30px 0 35px;
  &__item{
    flex-basis: 20%;
    text-align: center;
  }
}
