.subscribe{
  border-top: 1px solid #292929;
  border-bottom: 1px solid #292929;
  padding: 35px 0 30px;
  text-align: center;
}
.subscribe-form input{
    box-sizing: border-box;
    height: 45px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid $black;
    padding: 0 10px;
  }
