@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Robotobold.woff2) format("woff2"), url(../fonts/Robotobold.woff) format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Roboto.woff2) format("woff2"), url(../fonts/Roboto.woff) format("woff"); }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.9em; }

h3 {
  font-size: 1.7rem; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px; }

@media (max-width: 1500px) {
  .container {
    min-width: 1270px;
    max-width: 1440px; } }

@media (max-width: 1300px) {
  .container {
    min-width: 970px;
    max-width: 1260px; } }

@media (max-width: 1000px) {
  .container {
    min-width: 670px;
    max-width: 970px; } }

@media (max-width: 700px) {
  .container {
    min-width: 470px;
    max-width: 670px; } }

@media (max-width: 400px) {
  .container {
    min-width: 270px;
    max-width: 370px; } }

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 15px;
  line-height: 140%;
  color: #232323;
  background-color: #fdfdfd; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #232323; }
  a:hover {
    text-decoration: none;
    color: #979797; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.main-head {
  position: relative; }

.top-menu {
  padding: 0 10px;
  background-color: #fafafa;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee; }

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-menu__search {
    margin: 10px 0;
    padding: 5px 0; }
    .main-menu__search input {
      border: 1px solid #232323;
      height: 22px;
      width: 260px;
      background-image: url(../img/search.svg);
      background-repeat: no-repeat;
      background-position: 5px 4px;
      background-size: 6%;
      padding-left: 30px; }

.main-menu-items {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 10px 0; }
  .main-menu-items__item {
    padding: 5px 10px;
    margin: 0 10px; }

.top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 15px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .top-row__filter {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .top-row__filter a {
      margin-right: 10px;
      text-transform: capitalize;
      font-size: 120%; }

.filter__girl {
  color: #c61a79; }
  .filter__girl:hover {
    color: #99145d; }

.filter__boy {
  color: #1a76c6; }
  .filter__boy:hover {
    color: #145b99; }

.top-contact {
  position: relative; }
  .top-contact__phone {
    position: relative;
    margin-right: 20px;
    padding-left: 30px; }
    .top-contact__phone::before {
      content: "";
      display: block;
      width: 20px;
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      background-image: url(../img/phone.svg); }
  .top-contact__mail {
    margin-right: 20px;
    padding-left: 30px;
    position: relative; }
    .top-contact__mail::before {
      content: "";
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
      background-image: url(../img/envelope.svg); }

.top-zakaz__user {
  margin-right: 20px;
  padding-left: 30px;
  position: relative; }
  .top-zakaz__user::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-image: url(../img/user.svg); }

.top-zakaz__cart {
  padding-left: 30px; }
  .top-zakaz__cart img {
    vertical-align: bottom;
    margin-right: 10px; }

.social {
  margin: 10px 0;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social__link {
    font-size: 0;
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 20px;
    background-repeat: no-repeat; }
    .social__link--vk {
      background-image: url(../img/vk.svg); }
    .social__link--inst {
      background-image: url(../img/instagram.svg); }
    .social__link--fb {
      background-image: url(../img/facebook.svg); }

.goods-in-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  .goods-in-main__items {
    margin: 10px 20px;
    text-align: center; }

.btn {
  padding: 5px 10px; }
  .btn--search {
    background-color: #1a76c6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fdfdfd;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 4px 10px;
    height: 22px;
    margin-left: -1px; }

.our-advantage {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #232323;
  border-bottom: 1px solid #232323; }
  .our-advantage__item {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%; }

.subscribe {
  border-top: 1px solid #292929;
  border-bottom: 1px solid #292929;
  padding: 20px 0 30px; }

.main-footer {
  padding: 20px 0 30px;
  background-color: #fafafa; }

.favorites-slider {
  padding: 20px 0; }
  .favorites-slider__title {
    margin: 20px 0 30px;
    position: relative; }
    .favorites-slider__title::before {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #232323;
      bottom: 10px; }
  .favorites-slider span {
    padding-right: 20px;
    position: relative;
    background-color: #fdfdfd; }
