@font-face {
  font-family:"Roboto";
  font-weight:700;
  font-style:normal;
  src:url(../fonts/Robotobold.woff2) format("woff2"),
  url(../fonts/Robotobold.woff) format("woff");
}
@font-face {
  font-family:"Roboto";
  font-weight:400;
  font-style:normal;
  src:url(../fonts/Roboto.woff2) format("woff2"),
  url(../fonts/Roboto.woff) format("woff");
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.9em;
}
h3{
  font-size: 1.7rem;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
@media(max-width: 1500px){
  .container{
    min-width: 1270px;
    max-width: 1440px;
  }
}
@media(max-width: 1300px){
  .container{
    min-width: 970px;
    max-width: 1260px
  }
}
@media(max-width: 1000px){
  .container{
    min-width: 670px;
    max-width: 970px;
  }
}
@media(max-width: 700px){
  .container{
    min-width: 470px;
    max-width: 670px;
  }
}
@media(max-width: 400px){
  .container{
    min-width: 270px;
    max-width: 370px;
  }
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 15px;
  line-height: 140%;
  color: $black;
  background-color: $white;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: $black;
  &:hover{
  	text-decoration: none;
		color: darken($white, 40%);
  }
}
