$grey-color: #eeeeee;
$white: #fdfdfd;
$black: #232323;
$green: rgb(76, 123, 209);
$dark-green: rgb(86, 133, 0);
$red: rgb(237, 28, 36);
$dark-grey: #4f4f4f;
$girl-color: #c61a79;
$boy-color: #1a76c6;
